body{
    background: rgb(56, 119, 236);
    font-size: 23px;
}
header h1{
    color: white;
    text-align: center;
}
main{
    background: white;
    width: 700px;
    margin: auto;
    border-radius: 30px;
    padding: 30px;
}
section{
    margin: auto;
}
section p{
    text-align: center;
}
#div-perg{
    text-align: center;
}